.container__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img__about-espiral {
  width: 30%;
}
.about__info {
  width: 50%;
}
@media (min-width: 320px) {
  .img__about-espiral {
    display: none;
  }
}
@media (min-width: 768px) {
  .about__info {
    width: 60%;
    margin: 2rem;
  }
  .img__about-espiral {
    width: 25%;
  }
}

