:root {
  --color-primary: #853fd1;
  --color-secundary: #dec1e9;
  --color-font-primary: #fffefe;
  --color-font-secondary: #000000;
  --color-footer: #10c7a9;
  --font-rubik: "Rubik", sans-serif;
  --font-stoke: "Stoke", sans-serif;
}
