@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Stoke:wght@300;400&display=swap");

:root {
  --color-primary: #7f25df;
  --color-secondary: #dec1e9;
  --color-font-primary: #fffefe;
  --color-font-secondary: #283B40;
  --color-footer: #10c7a9;
  --button: #FEFEFE;
  --button-hover: #DEDEDE;
  --font-rubik: "Rubik", sans-serif;
}

