.menu {
  margin: 0 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.link {
  text-decoration: none;
  font-family: var(--font-rubik);
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--color-font-primary);
}
.link_bold {
  text-decoration: none;
  font-family: var(--font-rubik);
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--color-font-secondary);
}
