.heading1 {
  font-family: var(--font-rubik);
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-font-primary);
}
.heading2 {
  font-family: var(--font-stoke);
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-font-secondary);
  line-height: 2.5rem;
}
.paragraph {
  font-family: var(--font-stoke);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-font-secondary);
  line-height: 2.5rem;
  text-align: center;
}
.paragraph__white {
  font-family: var(--font-stoke);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-font-primary);
  line-height: 2.5rem;
}
.paragraph__footer {
  font-family: var(--font-stoke);
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-font-secondary);
  line-height: 2.5rem;
}
.text-menu {
  text-decoration: none;
  font-family: var(--font-rubik);
  font-size: 1.3rem;
  font-weight: 600;
}
.label__text {
  margin-top: 1rem;
  font-family: var(--font-stoke);
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-font-secondary);
}
@media (min-width: 320px){
  .heading1{
    font-size: 2rem;
  }
  .heading2{
    font-size: 2.2rem;
  }
  .paragraph{
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 768px){
  .heading1{
    font-size: 2rem;
  }
  .heading2{
    font-size: 1.6rem;
  }
  .paragraph{
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 1024px){
  .heading1{
    font-size: 2rem;
  }
  .heading2{
    font-size: 1.8rem;
  }
  .paragraph{
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 1440px){
  .heading1{
    font-size: 2.5rem;
  }
  .paragraph{
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media (min-width: 1800px){
  .heading1{
    font-size: 3rem;
  }
}
@media (min-width: 2560px){
  .heading1{
    font-size: 3.5rem;
  }
  .heading2{
    font-size: 3rem;
  }
  .paragraph{
    font-size: 2rem;
    line-height: 3rem;
  }
}