.container__body {
  background-color: var(--color-secondary);
  background-image: url("../../assets/backgroud_img.png");
  border-bottom: 3px solid var(--color-tertiary);

  padding: 2rem;
  text-align: center;
}
.img__header {
  margin-top: 3rem;
  width: 40%;
}
.container__card {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
.img__card {
  width: 25%;
}
