.container__contact{
    background-color: var(--color-primary);
    border-bottom: 4px solid var(--color-tertiary);
  
    padding: 2rem;
    text-align: center;
}
.container__form{
    display: flex;
}