.menu {
  position: sticky;
  top: 0;
  z-index: 3;
}
.menu__container {
  background-color: var(--color-primary);
  padding: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-icon {
  display: none;
}
.link__bold {
  color: var(--color-font-secondary);
  background-color: transparent;
  transition: color 0.5s;
}
.link {
  transition: color 0.5s;
  color: var(--color-font-primary);
}
.link__bold.scrolled {
  color: var(--color-font-primary);
}
.elipse2 {
  width: 20%;
  position: absolute;
  background-color: transparent;
  left: 7rem;

  transition: opacity 0.7s;
}
.elipse2.hidden {
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 768px) {
  .link a {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .link__bold a {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .elipse2 {
    left: 5rem;
  }
}

