.container {
  padding-bottom: 4.2rem;
  display: flex;
  background-color: var(--color-primary);
  border-bottom: 3px solid var(--color-tertiary);
}
.container__slogan {
  width: 50%;
  text-align: center;
  margin: 2rem 3.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 3rem;
}
.container__img {
  margin-left: 10%;

  position: relative;
  display: flex;
  background-color: transparent;
}
.img__elipse {
  width: 100%;
  margin: 0 -2rem;
  background-color: transparent;
  position: relative;
  z-index: 0;
}
.img__dog {
  width: 100%;
  position: absolute;
  right: 25%;
  top: -5.1rem;
  background-color: transparent;
  z-index: 1;
}
@media (min-width: 768px) {
  .container__slogan{
    width: 70%;
  }
  .img__elipse {
    width: 90%;
    margin: 0 -1.5rem;
  }
  .img__dog {
    top: -1.7rem;
    width: 90%;
    right: 20%;
  }
}
@media (min-width: 1024px) {
  .img__elipse {
    width: 95%;
    margin: 0 -1.5rem;
  }
  .img__dog {
    top: -2.2rem;
    width: 95%;
    right: 20%;
  }
}
@media (min-width: 1440px) {
  .container__slogan{
    width: 60%;
  }
  .img__elipse {
    width: 100%;
    margin: 0 -1.5rem;
  }
  .img__dog {
    top: -4.8rem;
    width: 100%;
    right: 25%;
  }
}
@media (min-width: 1800px) {
  .container__slogan{
    width: 55%;
  }
  .img__elipse {
    width: 100%;
    margin: 0 -1.5rem;
  }
  .img__dog {
    top: -6.9rem;
    width: 100%;
    right: 25%;
  }
}
@media (min-width: 2560px) {
  .container__slogan{
    width: 50%;
  }
  .img__elipse {
    width: 100%;
    margin: 0 -1.5rem;
  }
  .img__dog {
    top: -9.3rem;
    width: 100%;
    right: 25%;
  }
}
