.container {
  padding-bottom:4.2rem ;
  display: flex;
  background-color: var(--color-primary);
}
.container__slogan {
  width: 50%;
  text-align: center;
  margin: 2rem 3.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 3rem;
}
.container__img {
  margin-left: 10%;

  position: relative;
  display: flex;
  background-color: transparent;
}
.img__elipse {
  width: 100%;
  margin: 0 -2rem;
  background-color: transparent;
  position: relative;
  z-index: 0;
}
.img__dog {
  width: 100%;
  position: absolute;
  right: 25%;
  top: -7.3rem;
  background-color: transparent;
  z-index: 1;
}

/* AboutUs */
.container__about{
  background-color: var(--color-secondary);
  background-image: url("../../assets/backgroud_img.png");

  padding: 2rem;
  text-align: center;
}
